body {
    height: 100vh;
    width: 100vw;

    overflow: hidden; /* Removing the scroll bar */
    margin: 0;

    background-color: black;
}

#image-track {
    display: flex;
    gap: 4vmin; /* Spacing all the image */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%); /* Put the image in the middle of the screen */

    user-select: none; /* Removing the possibility for the user to select the image */
}

#image-track > .image {
    width: 40vmin;  /* Setting the size of the image*/
    height: 56vmin;

    object-fit: cover; /* Making the image fill the container */
    object-position: 100% center; /* Making the image start from the right side of the container */
}